<!DOCTYPE html>
<html>
  <head>
    <title>Empleos Github</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <div class="row">
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
    <form id="formulario">
      <h1>Github Empleos</h1>
    <p>Selecciona parámetros de búsqueda</p> <br>
    <label>País</label><br>
      <select name="select" class='custom-select my-1 mr-sm-2' id="pais">
        <option value="value1" selected disabled>...</option> 
        <option value="value2">USA</option>
        <option value="value3">Canada</option>
      </select>
      <br><br>
      <label>Afinidad</label><br>
      <select name="select" class='custom-select my-1 mr-sm-2' id="afinidad">
        <option value="value1" selected disabled>...</option> 
        <option value="value2">Developer</option>
        <option value="value3">UX</option>
        <option value="value4">Python</option>
        <option value="value5">Javascript</option>
        <option value="value6">php</option>
      </select>
      <br><br>
      <button class="btn btn-primary mb-3" id="buscar">Buscar</button>
      <div class="mb-3" id="jobsCount"></div>
    </form>
    </div>
    <section class="col-md-8 col-sm-12 position-relative" id="jobsContainer">
      
      
    </section>
    </div>  
     
    <script src="/jquery/jquery.js"></script>
    <script src="/axios/axios.min.js"></script>
    <script src="actions/actions.js"></script>  
  </body>
</html>